/*#region Palettes */
/*    Light Palette */
:root {
  --nav-bg: #ffe4c4;
  --bg-dark: #988164;
  --bg-light: #cab192;

  --primary-text: #0d0d0d;
  --seconary-text: #333333;

  --primary-accent: #b7a99a;
  --seconary-accent: #9ab0a7;
  --highlight: #a7d6c3;
}
/*#endregion*/

/*#region Global Styles */
* {
  text-decoration: none;
  box-sizing: border-box;
  white-space: normal;

  padding: 0;
  margin: 0;
  border: 0;
}

:root {
  color-scheme: light dark;

  --nav-width: max(15vw, 8rem);
  --sidebar-width: 3rem;

  background: linear-gradient(
    -5deg,
    rgb(0, 0, 0) 0 2%,
    var(--bg-light) 30% 100%
  );

  color: var(--primary-text);

  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

a {
  color: var(--highlight);
}
a:visited {
  color: var(--seconary-accent);
}

main {
  width: 100%;
  height: 100%;
}
/*#endregion*/

/*#region Helper Styles */
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.max-expand {
  width: 100%;
  height: 100%;
}
/*#endregion*/

/*#region Transition */

/*#endregion*/

/*#region Nav Bar */
#nav-button {
  display: none;
}

#nav-menu {
  display: block;
  position: fixed;
  z-index: 10;

  width: var(--nav-width);
  height: 100%;

  background-color: var(--nav-bg);

  ul {
    display: flex;
    flex-direction: column;

    height: 100%;

    padding: 1rem 2rem;

    li {
      list-style-type: none;
      text-align: center;

      cursor: pointer;

      margin: 0.5rem 0rem;
    }
    :last-child {
      margin-top: auto;
    }
  }
}

@media (max-width: 48em) {
  #nav-button-icon {
    --bar-height: 0.35rem;

    display: block;
    cursor: pointer;
    z-index: 11;
    position: fixed;

    top: 0;
    left: 0;

    height: 2rem;
    width: 2rem;

    background-color: transparent;

    div {
      display: block;
      position: absolute;

      left: 10%;
      top: 50%;

      height: var(--bar-height);
      width: 80%;

      border-radius: 10px;
      background-color: #000;

      transform: rotate(0deg);
      transition: ease 0.3s;
      will-change: transform;
    }

    :first-child {
      top: calc(25% - var(--bar-height) * 0.5);
    }
    :nth-child(2) {
      top: calc(50% - var(--bar-height) * 0.5);
    }
    :last-child {
      top: calc(75% - var(--bar-height) * 0.5);
    }
  }

  #nav-menu {
    transition: ease 0.5s;
    transform: translateX(calc(var(--nav-width) * -1));
    will-change: transform;
  }
  #nav-overlay {
    position: fixed;
    z-index: 9;
  }

  #nav-button:checked ~ #nav-button-icon {
    :first-child {
      top: 40%;
      transform: rotate(-45deg);
    }
    :nth-child(2) {
      opacity: 0;
    }
    :last-child {
      top: 40%;
      transform: rotate(45deg);
    }
  }
  #nav-button:checked ~ #nav-menu {
    transform: translateX(0);
  }
  #nav-button:checked ~ #nav-overlay {
    display: block;
    inset: 0;
    left: var(--nav-width);
  }

  html[data-page-ready="0"] {
    #nav-button-icon > *,
    #nav-menu {
      transition: none !important;
    }
  }
}
/*#endregion*/

/*#region Home Styles */
#home-bg {
  display: grid;
  position: absolute;
  inset: 0;

  z-index: -1;

  .home-noise-bg {
    grid-area: 1 / 1;

    width: 100%;
    height: 100%;
  }
}

#home-header {
  display: flex;
  flex-direction: column;

  height: 100%;

  h1 {
    flex: 1;

    margin: 4rem 0;
    margin-right: var(--sidebar-width);

    max-width: clamp(20rem, 60vw, 45rem);

    align-content: center;
    text-align: left;
    vertical-align: middle;

    font-size: 5rem;
    font-weight: 200;
    font-style: normal;

    text-shadow: 16px 20px 16px rgba(0, 0, 0, 0.8);
  }

  div {
    display: block;

    margin: 0 auto;
    padding: 2rem;
    padding-bottom: 1.5rem;

    width: fit-content;

    font-size: 1.1rem;

    text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.8);
    color: #fff;
  }
}

@media (max-width: 48em) {
  #home-header {
    h1 {
      font-size: 4rem;
    }
    div {
      line-height: 1.5rem;
      font-size: 0.8rem;
    }
  }
}
/*#endregion*/

/*#region sidebar */
#sidebar {
  position: fixed;
  right: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  width: var(--sidebar-width);

  .icon {
    align-items: center;
    justify-content: center;

    height: 2em;
    width: 2em;

    margin-top: 10px;

    svg {
      color: #000;
      width: 100%;
      height: 100%;
    }
  }
}
/*#endregion*/

/*#region Main Content */
#content-wrapper {
  position: relative;
  display: block;
  isolation: isolate;
  overflow: hidden;

  margin-left: var(--nav-width);

  width: 100%;
  min-height: max(100%, 100vh);

  .content-body {
    position: relative;
    isolation: isolate;

    width: 100%;
    height: 100%;

    padding: 0rem 1.5rem;

    text-align: center;
  }
}
@media (max-width: 48em) {
  #content-wrapper {
    margin-left: 0;
  }
}
/*#endregion*/
