{{ define "main" }}
  <div id="home-bg" aria-hidden="true">
    <white-noise
      resolution="1000"
      useProgress="true"
      disableUpdates="true"
      class="home-noise-bg"
    ></white-noise>
    <gaussian-noise
      resolution="1000"
      useProgress="true"
      disableUpdates="true"
      class="home-noise-bg"
    ></gaussian-noise>
    <random-walk-noise
      resolution="500"
      useProgress="true"
      disableUpdates="true"
      class="home-noise-bg"
    ></random-walk-noise>
  </div>
  <div class="content-body">
    <header id="home-header" class="flex-col max-expand">
      <h1>
        <p>There's beauty in Chaos.</p>
      </h1>
      <div>
        <p>
          I was inspired after watching a
          <a href="https://www.youtube.com/watch?v=KXhhIkn2J14"
            >Youtube Video</a
          >
          related to created 2D Noise Textures, believing I could compile an
          expanded collection.
        </p>
        <p>
          Check the <a href="/glossary">glossary</a> for frequently-used terms.
        </p>
      </div>
    </header>
  </div>
{{ end }}
